.font {
  padding: 20px;
}

/* .iframe-container{
 position: relative;
 width: 100%;
 padding-bottom: 56%;
 height: 10%
}

.iframe-container iframe{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
} */

.btnClass{
  background: #4aabe0;
  background-image: -webkit-linear-gradient(top, #4aabe0, #3149bf);
  background-image: -moz-linear-gradient(top, #4aabe0, #3149bf);
  background-image: -ms-linear-gradient(top, #4aabe0, #3149bf);
  background-image: -o-linear-gradient(top, #4aabe0, #3149bf);
  background-image: linear-gradient(to bottom, #4aabe0, #3149bf);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  display: block;
  font-size: 0.75em;
  margin: 20px auto;
  border-radius: 28px;
  color: white;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
 }
