* {-webkit-font-smoothing: antialiased;}

body {
  /* background-color: #255197;
  color: white; */
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 25pt;
}

.step-and-number {
  /* color: #0e1111; */
  font-family: 'Bitter', serif;
  font-size: 1.75em;
  margin: 15px 0;
  text-align: center;
}

.step-title {
  /* color: #0e1111; */
  font-family: 'Bitter', serif;
  font-size: 1.5em;
  margin: 25px 0 50px;
  text-align: center;
}

#mainContainerDiv {
  margin-bottom: 50px;
  padding: 15px 20px;
}

.click_below {
  text-decoration: underline;
}

.low_spaces_para {
  margin: 0;
}

/*.video_class {
  text-align: center;
  border-radius: 10px;
}

.videoLink {
  width: 60%;
  height: 350px;
}*/

iframe {
  border: 10px solid black;
  border-radius: 10px;
  display: block;
  margin: 0 auto 50px;
  width: 90%;
  height: 500px;
}

a {
  word-break: break-all;
}

p {
  margin-bottom: 50px;
}

span {
  margin-bottom: 50px;
}

ol, ul {
  margin: 0px 10px 50px;
  border-radius: 10px;
  /*background-color: gray;*/
}

li {
  padding-right: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  iframe {
    border: 10px solid black;
    border-radius: 10px;
    display: block;
    margin: 0 auto 50px;
    width: 90%;
    height: 200px;
  }
}

@media only screen and (max-width: 475px) {
  .step-title {
    font-size: 1.3em;
  }
}
