#steps-btn-div a:link,
#steps-btn-div a:hover,
#steps-btn-div a:visited,
#steps-btn-div a:active {
color: #fff;
text-decoration: none;
}

#steps-btn-div a:hover {
cursor: pointer;
}
/*
body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background: #fff;
}*/

#steps-btn-div {

width: 80%;
overflow: visible;
}



.step-wrapper {
width: 100%;
display: inline-block;
float: left;
clear: both;
}

.step {
position: relative;
padding: 25px;
margin: 8px;
margin-left: 0px;
box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
background: #fff;
width: 100%;
word-break: normal;
}

.step-content {
display: inline-block;
color: #fff;
font-family: 'Droid Sans', sans-serif;
font-weight: bold;
white-space: nowrap;
margin-bottom: 8px;
}

.bg-0 { background: #255197; }
.bg-1 { background: #255197; }
.bg-2 { background: #255197; }
.bg-3 { background: #255197; }
.bg-4 { background: #255197; }
.bg-5 { background: #255197; }
.bg-6 { background: #255197; }
.bg-7 { background: #255197; }
.bg-8 { background: #255197; }
.bg-9 { background: #255197; }
.bg-10 { background: #255197; }
.bg-11 { background: #255197; }


@media screen and (orientation: portrait) {

    /*iphone 5/SE*/
    @media screen and  (min-width: 300px) and (max-width: 330px) {
        #steps-btn-div {
            width: 80%;
            }
        .step-content {
            white-space: normal;
        }
    }

    /*iphone 6/7/8*/
    @media screen and  (min-width: 330px) and (max-width: 600px) {
        #steps-btn-div {
            width: 80%;
            }
        .step-content {
            white-space: normal;
        }
    }

    /*ipad*/
    @media screen and (min-width: 600px) and (max-width: 1024px){
        #steps-btn-div {
            width: 80%;
            }
        .step-content {
            white-space: normal;
        }
    }
}
@media screen and (orientation: landscape) {

    /*iphone 6/7/8*/
    @media screen and  (min-width: 330px) and (max-width: 900px) {
        #steps-btn-div {
            width: 80%;
            }
        .step-content {
            white-space: normal;
        }
    }

    /*ipad*/
    @media screen and (min-width: 900px) and (max-width: 1024px){
        #steps-btn-div {
            width: 80%;
            }
        .step-content {
            white-space: normal;
        }
    }
}
