.btn-container {
  height: 70px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  position: relative;
}

.prevButtonClass, .nextButtonClass {
  background: #0277BD;
  border: none;
  font-size: 0.65em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  border-radius: 28px;
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 47%;
  padding: 10px 30px;
  margin: 0 15px;
}

.nextButtonClass {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-right: 0;
  position: absolute;
  right: 0;
}

.prevButtonClass {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: 0;
  position: absolute;
  left: 0;
}

@media only screen and (max-width: 475px) {
  .nextButtonClass, .prevButtonClass {
    word-spacing: 50px;
  }
}
